<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.main.admin.dao.AdminDAO">

	<!-- 등록 : 등록 / 아이디 중복검사-->
	<insert id="joinAdmin" parameterType="com.spring.main.admin.dto.AdminDTO">
		INSERT INTO admin(admin_id, admin_pw, position, activation, role)
	   		VALUES (#{admin_id}, #{admin_pw}, '중간관리자', 1, 'ROLE_ADMIN')
	</insert>
	
	<select id="findAdmin" resultType="String">
		SELECT admin_id FROM admin WHERE admin_id = #{param1}
	</select>


</mapper>